<md-list ng-controller="menuPrincipalCtrlAdmin">
    <!--se o id vier 0 quer dizer que é sem categoria-->
    <div ng-repeat="item in menu">
        <md-list-item class="menuItem" ng-click="item.aberto = !item.aberto"  ng-if="item.id > 0">
            <span flex>{{item.categoria}}</span>
            <md-icon ng-show="!item.aberto">expand_more</md-icon>
            <md-icon ng-show="item.aberto">expand_less</md-icon>
        </md-list-item>
        <md-list-item class="subMenuItem" ng-class="{pdl20: item.id > 0}"  ng-repeat="sub in item.subMenu" ng-show="item.aberto" ng-click="abreSubMenu(sub.acao)">
            <md-divider></md-divider>
            <i class="material-icons">{{sub.icone}}</i>
            <span flex-offset="5">{{sub.descricao}}</span>
        </md-list-item>
        <md-divider></md-divider>
    </div>
</md-list>